@import 'reset';

.accrodion {
    margin: 20px auto;

    .tab {
        border: 3px solid rgb(19, 19, 20);
        border-bottom-width: 0;

        &:last-child {
            border-bottom-width: 3px;
        }

        >label {
            display: flex;
            background: rgb(83, 83, 234);
            color: #fff;
            padding: 12px;
            font-weight: 700;
            font-family: monospace;

            cursor: pointer;
            user-select: none;
            justify-content: space-between;
            align-items: center;

            >div {
                font-size: 26px;
            }

            &:hover {
                background: orange;
            }

            .close-icon {
                display: none;
            }

        }

        .tab-content {
            padding: 10px;
            display: none;
        }

        .tab-switch:checked {
            +label {
                background: orange;

                .open-icon {
                    display: none;
                }

                .close-icon {
                    display: block;
                }
            }

            ~.tab-content {
                display: block;
            }
        }

        // >input [type=radio],
        // >input [type=checkbox] {
        //     display: none;
        // }

        .tab-switch {
            display: none;
        }
    }
}






// .accrodion {
//     margin: 20px auto;

//     .tab {
//         border: 1px solid blue;

//         >label {
//             display: flex;
//             background: rgb(83, 83, 234);
//             color: #fff;
//             padding: 12px;
//             font-size: 26px;
//             font-weight: 700;
//             font-family: monospace;

//             cursor: pointer;
//             user-select: none;

//             &:hover {
//                 background: orange;
//             }
//         }

//         .tab-content {
//             padding: 10px;
//         }

//     }
// }