@import 'reset';

body {
    background: #000;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .header-content {
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .menu {
        list-style-type: none;
        display: flex;

        li {
            margin-left: 10px;
            text-align: center;
            font-weight: 700;

            &:first-child {
                margin-left: 0;
            }

            // li:first-child {}

            &:hover {
                color: blue;

            }
        }

        .en {
            font-size: 12px;
            font-family: monospace;
            text-transform: uppercase;
        }
    }


}