@import 'reset';

.product-block {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: 300px;
    min-height: 200px;
    background: #dedede;
    padding: 10px;
    margin: 0 10px;
    margin-bottom: 10px;
}

.product-image {
    width: 100%;
    height: 200px;
    background-color: #f38d8d;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .product-image-warp {
        background-image: url(../images/dog.jpeg);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        transition: 3s;
    }

    .discount-bar {
        background: #f38d8d;
        width: 100%;
        height: 40px;
        font-size: 18px;
        font-weight: 700;
        font-family: 'Merriweather', serif;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        transform: rotate(45deg);
        right: -112px;
        top: 16px;
    }

    &:hover {
        .product-image-warp {
            transform: scale(1.5);
        }

        .discount-bar {
            background-color: aquamarine;
            color: #f38d8d;
        }
    }
}

.product-content {
    margin-top: 20px;

    .product-title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 15px;
    }
}