@import 'reset個人末端用';

body {
    background: brown;
}

.header {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 9;
    margin-top: 15px;

    .header-content {
        background: rgba(255, 255, 255, 0.86);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-radius: 20px;
    }

    .menu {
        list-style-type: none;
        display: flex;

        li {
            margin-left: 10px;
            text-align: center;
            font-size: 700;

            &:first-child {
                margin-left: 0;
            }

            &:hover {
                color: #fff;
            }
        }

        .en {
            font-size: 12px;
            font-family: monospace;
            text-transform: uppercase;
        }
    }
}

.travel-form {
    color: #fff;
    background: #000;
    background-image: url(../images/鬱金香.jpg);
    background-size: cover;
    position: relative;
    z-index: 1;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #00000051;
        position: absolute;
        z-index: 1;
    }

    .travel-form-content {
        display: flex;
        align-items: center;
        min-height: 100vh;
        position: relative;
        z-index: 2;

        .content-wrap {
            background: rgba(132, 120, 104, 0.9);
            display: flex;
            width: 100%;
            border-radius: 20px;

            >div {
                width: 50%;
                padding: 20px;
            }

            .right-side-pic {
                background-image: url(../images/海港.jpg);
                background-position: center;
                background-size: cover;
                height: 100%;
                transition: 3s;
            }
        }
    }

    .travel-form-text {
        font-size: 14px;
        line-height: 30px;
        text-align: justify;
    }
}