@import 'reset個人末端用';

body {
    background: #f3eeee;
}

.travel-form {
    color: #fff;
    background: #000;
    background-image: url(../images/個人末端用/鬱金香.jpg);
    position: relative;
    height: 110vh;
    background-position: center;
    background-size: cover;
    z-index: 1;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #00000051;
        position: absolute;
        z-index: 1;
    }
}


.travel-form-content {
    min-height: 33vh;
    position: relative;
    z-index: 2;

    display: flex;
    align-content: center;
    justify-content: center;
}


#blockfortop {
    margin-top: 135px;
}

.content-wrap {
    background: rgb(168 162 155 / 95%);
    display: flex;
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;

    >div {
        width: 50%;
        padding: 20px;
    }

    .left-side {
        .travel-form-text {
            font-size: 18px;
            line-height: 30px;
            text-align: justify;
            margin-bottom: 8px;
            font-weight: 600;
        }

        .travel-form-text2 {
            font-size: 15px;
            line-height: 30px;
            text-align: justify;
        }
    }

    .right-side-pic {
        background-image: url(../images/life-1.jpg);
        background-position: center;
        background-size: cover;
        height: 100%;
        transition: 3s;
        border-radius: 15px;
    }

    .right-side-pic2 {
        background-image: url(../images/life-2.jpg);
        background-position: center;
        background-size: cover;
        height: 100%;
        transition: 3s;
        border-radius: 15px;
    }

    .right-side-pic3 {
        background-image: url(../images/bicycle.jpg);
        background-position: center;
        background-size: cover;
        height: 100%;
        transition: 3s;
        border-radius: 15px;
    }
}