@import 'reset個人末端用';

body {
    background: brown;
}

.travel-form {
    color: #fff;
    background: #000;
    background-image: url(../images/allofme.jpg);
    background-size: cover;
    position: relative;
    z-index: 1;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #00000051;
        position: absolute;
        z-index: 1;
    }

    .travel-form-content {
        display: flex;
        align-items: center;
        min-height: 115vh;
        position: relative;
        z-index: 2;

        .content-wrap {
            background: rgba(132, 120, 104, 0.9);
            display: flex;
            width: 100%;
            border-radius: 20px;
        }
    }
}

.info {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .profile {
        display: block;
        text-align: center;

        .photo {
            width: 200px;
            height: 200px;
        }

        .introduction {
            list-style: none;
            color: #898989;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 2px;
            margin-top: 10px;

            >:nth-child(1) {
                color: #747474;
                font-size: 18px;
                letter-spacing: 1px;
                margin-bottom: 10px;
                font-weight: 500;
            }
        }
    }

}